<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="Nuget.Feed" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="StarFinanz.Nexus" value="https://nexus01.starfinanz.de/repository/FiMiPo-nuget-hosted/" />
  </packageSources>
</configuration>
